<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>
        Title
    </title>
    <asset:stylesheet src="bootstrap.css"/>
</head>

<body>
<g:form action="update">
    <div class="form-group">
        <label for="exampleInputName">CategoryName</label>
        <input type="input" class="form-control" name="name" id="exampleInputName" placeholder="Name">
    </div>
    <div class="form-group">

    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</g:form>
</body>
</html>
