<html>
<head>
    <title>Mk Table No</title>
</head>
<body>
<table width="100%">
    <tr>
        <td>
            <a href="<g:createLink action="index"/>">Back</a>
        </td>
    </tr>
    <g:form action="create" method="POST">
                                        %{--Table สีเขียวเรากำหนดขึ้นมาให้เป็น key ใส่ค่า Value เป็น tablekey (ก็คือ key ที่เก็บ value เป็น class ของ table--}%
        <g:render template="form" model="[table:tablekey]"></g:render>
    </g:form>
</table>
</body>
</html>