<!doctype html>
<html>
<head>
    <meta name="layout" content="users"/>
    <title>My Web Board : Post</title>
    <asset:link rel="icon" href="favicon.ico" type="image/x-ico" />
</head>
<body>
<table width="100%">

        <g:each in="${category}">
        <tr>
            <td><a href="<g:createLink action="list" id="${it.getId()}"/>">${it.getName()}</a></td>
        </tr>
        </g:each>
</table>


</body>
</html>
