<html>
<head>
    <title>My Category</title>
</head>
<body>
    <table width="100%">
        <tr>
            <td>
                <a href="<g:createLink action="newForm"/>">New</a>
            </td>
        </tr>
        <tr>
            <td>Category</td>
        </tr>
        <tr>
            <g:each in="${category}">
                <td>${it.getName()}</td>
                <td>
                    <a href="<g:createLink action="delete" id="${it.getId()}"/>">delete</a>
                    <a href="<g:createLink action="update" id="${it.getId()}"/>">delete</a>
                </td>
            </g:each>
        </tr>
    </table>
</body>
</html>